/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

/* HEADER */
header {
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header img {
  width: 15%;
}

.fas.fa-bars {
  display: none;
}

header .menu--wrapper {
  display: flex;
}
header .menu--wrapper .menus {
  display: flex;
  align-items: center;
  padding-right: 1.5rem;
  cursor: pointer;
}
header .menu--wrapper .menus a {
  font-size: 16px;
  font-weight: 600;
  padding: 0 4rem;
  transition: 0.25s ease-in-out;
  text-decoration: none;
  color: #000;
}
header .menu--wrapper .menus a:hover {
  color: #0035c2;
}
header .menu--wrapper .btn--wrapper {
  width: 100px;
  background-color: #fcfcfc;
  border-radius: 30px;
  display: flex;
  padding: 0.75rem;
  cursor: pointer;
  transition: 0.25s;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
}
header .menu--wrapper .btn--wrapper:hover {
  opacity: 0.7;
}
header .menu--wrapper .btn--wrapper p {
  font-size: 16px;
  color: #0035c2;
  font-weight: 600;
}
header .menu--wrapper .btn--wrapper img {
  width: 22px;
}
/* END OF HEADER */

/* HERO SECTION */
.hero--wrapper {
  margin: 0 40px;
  padding: 0 40px;
  border-radius: 30px;
  background-color: #fcfcfc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30rem;
}
.hero--wrapper .title--wrapper {
  width: 45%;
}
.hero--wrapper .title--wrapper span {
  color: #0035c2;
  font-weight: 600;
  font-size: 16px;
}
.hero--wrapper .title--wrapper h2 {
  font-weight: 800;
  font-size: 4rem;
  padding: 1rem 0;
  color: #091d69;
}
.hero--wrapper .title--wrapper .btn--wrapper {
  background-color: #0035c2;
  padding: 1rem 2rem;
  border-radius: 30px;
  justify-content: center;
  width: 160px;
  display: flex;
  margin-top: 2rem;
  cursor: pointer;
  transition: 0.35s;
}
.hero--wrapper .title--wrapper .btn--wrapper:hover {
  opacity: 0.7;
}
.hero--wrapper .title--wrapper .btn--wrapper a {
  font-weight: 800;
  color: #fcfcfc;
  text-decoration: none;
}
/* END OF HERO SECTION */

/* EXPLORE PRODUCT SECTION */
.explore--wrapper {
  display: flex;
  flex-flow: column;
  padding: 60px 0;
}
.explore--wrapper .title--wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 40px;
}
.explore--wrapper .title--wrapper .title span {
  font-weight: 600;
  font-size: 24px;
  color: #0035c2;
}
.explore--wrapper .title--wrapper .title .txt {
  font-weight: 800;
  font-size: 62px;
}
.explore--wrapper .title--wrapper .arrow-btn {
  width: 15%;
  display: flex;
  justify-content: space-around;
}
.explore--wrapper .title--wrapper .arrow-btn img {
  background-color: #fcfcfc;
  border-radius: 50%;
  padding: 0.5rem;
  width: 50px;
  transition: 0.25s;
  cursor: pointer;
}
.explore--wrapper .title--wrapper .arrow-btn img:hover {
  background-color: rgba(0, 53, 194, 0.2);
}
.explore--wrapper .product--wrapper {
  display: flex;
  justify-content: space-between;
}
.explore--wrapper .product--wrapper .product .img--wrapper {
  padding: 0 40px;
}
.explore--wrapper .product--wrapper .product .img--wrapper img {
  background-color: #fcfcfc;
  border-radius: 30px;
  width: 100%;
  cursor: pointer;
  transition: 0.25s;
}
.explore--wrapper .product--wrapper .product .img--wrapper img:hover {
  transform: scale(0.95);
}
.explore--wrapper .product--wrapper .product .wrapper {
  padding: 20px 40px;
}
.explore--wrapper .product--wrapper .product .wrapper h3 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 0.75rem;
  cursor: pointer;
  transition: 0.25s;
}
.explore--wrapper .product--wrapper .product .wrapper h3:hover {
  color: #0035c2;
}
.explore--wrapper .product--wrapper .product .wrapper .price--wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.explore--wrapper
  .product--wrapper
  .product
  .wrapper
  .price--wrapper
  .disc--wrapper {
  background-color: #ffb440;
  padding: 0.5rem 1.5rem;
  border-radius: 30px;
  color: #fcfcfc;
}
.explore--wrapper
  .product--wrapper
  .product
  .wrapper
  .price--wrapper
  .disc--wrapper
  .disc {
  font-weight: 600;
}
.explore--wrapper .product--wrapper .product .wrapper .price--wrapper .price {
  font-size: 24px;
  font-weight: 800;
}
/* END OF EXPLORE PRODUCT SECTION */

/* WHY US SECTION */
.whyus--wrapper {
  padding: 60px 40px;
  text-align: center;
}
.whyus--wrapper .title--wrapper .title {
  font-size: 62px;
  font-weight: 800;
}
.whyus--wrapper .title--wrapper span {
  font-weight: 600;
  font-size: 24px;
  color: #0035c2;
}
.whyus--wrapper .point--wrapper {
  display: flex;
  justify-content: space-around;
  margin: 5rem 0;
}
.whyus--wrapper .point--wrapper .point img {
  background-color: rgba(0, 53, 194, 0.2);
  border-radius: 50%;
  padding: 0.75rem;
  margin-bottom: 1rem;
}
.whyus--wrapper .point--wrapper .point .title {
  font-size: 32px;
  font-weight: 800;
  margin: 0.5rem 0;
}
.whyus--wrapper .point--wrapper .point .subtitle {
  opacity: 0.6;
}
/* END OF WHY US SECTION */

/* NEWSLETTER SECTION */
.newsletter--wrapper {
  padding: 60px 40px;
  text-align: center;
  margin: 0 40px;
  border-radius: 30px;
  background-color: #fcfcfc;
}
.newsletter--wrapper .title--wrapper span {
  font-weight: 600;
  font-size: 24px;
  color: #0035c2;
}
.newsletter--wrapper .title--wrapper .title {
  font-size: 62px;
  font-weight: 800;
}
.newsletter--wrapper .email--wrapper {
  margin-top: 4rem;
  display: flex;
  justify-content: space-around;
  padding: 0 10rem;
  align-items: center;
}
.newsletter--wrapper .email--wrapper input {
  background: #fff;
  border: none;
  width: 40rem;
  height: 4rem;
  border-radius: 30px;
  text-indent: 2rem;
  font-size: 20px;
  font-weight: 800;
}
.newsletter--wrapper .email--wrapper a {
  background: #0035c2;
  padding: 1rem 2rem;
  border-radius: 30px;
  text-decoration: none;
  color: #fcfcfc;
  font-weight: 800;
  font-size: 20px;
  transition: 0.25s;
}
.newsletter--wrapper .email--wrapper a:hover {
  background-color: rgba(0, 53, 194, 0.6);
}
/* END OF NEWSLETTER SECTION */

footer {
  margin: 40px;
  border-radius: 30px;
  background-color: #fcfcfc;
}

footer .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.company-profile {
  padding: 60px 40px;
}

.company-icon {
  padding-bottom: 60px;
}

.company-profile span {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  color: rgba(0, 0, 0, 0.3);
}

.lists {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 7rem;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

li.title {
  font-size: 24px;
  line-height: 29px;
  font-family: Inter;
  font-style: normal;
  font-weight: bold;
  color: black;
  padding-bottom: 32px;
}

li {
  flex: auto;
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.3);
}
