@media screen and (max-width: 992px) {
  .hero--wrapper .title--wrapper h2 {
    font-size: 2.5rem; 
  }
  header .menu--wrapper .btn--wrapper img {
    width: 16px;
  }
  a.btn {
    width: 200px;
  }
  header .menu--wrapper .menus a {
    padding: 0 15px;
    font-weight: 500;
    font-size: 12px;
  }
  header .menu--wrapper .btn--wrapper p {
    display: none;
  }
  header .menu--wrapper .btn--wrapper {
    width: 50px;
  }

  .hero--wrapper .img--wrapper img {
    width: 350px;
  }
  .explore--wrapper .product--wrapper {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .lists {
    padding: 0 20px;
    display: flex;
  }
  .list {
    padding: 0 20px;
  }
  
  footer .company-profile .lists {
    display: flex;
    flex-direction: column;
  }
}
