@media screen and (max-width: 992px) {
  .hero--wrapper .title--wrapper h2 {
    font-size: 3rem;
  }
  a.btn {
    width: 200px;
  }
  header .menu--wrapper .menus a {
    padding: 0 10px;
  }
  .lists {
    padding: 0 20px;
    display: flex;
  }
  .list {
    padding: 0 20px;
  }
  footer .company-profile .lists {
    display: flex;
    flex-direction: column;
  }
}
